   <!--header start-->
   <header id="masthead" class="header cmt-header-style-01">
    <!-- cmt-header-wrap -->
    <div class="cmt-header-wrap">
        <!-- cmt-stickable-header-w -->
        <div id="cmt-stickable-header-w" class="cmt-stickable-header-w clearfix">
            <div id="site-header-menu" class="site-header-menu">
                <div class="site-header-menu-inner cmt-stickable-header visible-title">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <!-- cmt-topbar-wrapper -->
                                <div class="cmt-topbar-wrapper cmt-bgcolor-darkgrey cmt-textcolor-white clearfix">
                                    <div class="cmt-topbar-content">
                                        <div class="topbar-right text-right">
                                            <ul class="top-contact">
                                                <li><span class="tel-no"> 20 Mast RD
                                                    Oley, Pennsylvania</span></li>
                                                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@example.com.com">info@venezuelaconstructionllc</a></li>
                                                <li><i class="fa fa-phone"></i>+1 610-390-6878</li>
                                            
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- cmt-topbar-wrapper end -->
                                <!-- site-branding -->
                                <div class="site-branding">
                                    <a class="home-link" href="index.html" title="venezuelaconstructionllc" rel="home">
                                        <img id="logo-img" class="img-center" src="./assets/images/logo4.png" alt="logo-img">
                                    </a>
                                </div><!-- site-branding end -->
                                <!--site-navigation -->
                                <div id="site-navigation" class="site-navigation cmt-textcolor-white">
                                    <!-- social-links-wrapper -->
                                    <div class="cmt-social-links-wrapper list-inline">
                                        <ul class="social-icons square">
                                            <li><a href="#"><i class="ti ti-facebook"></i></a>
                                            </li>
                                            <li><a href="#"><i class="ti ti-instagram"></i></a>
                                            </li>
                                            
                                        </ul>
                                    </div><!-- social-links-wrapper -->
                                    <!-- header-icons -->
                                    <div class="cmt-header-icons ">
                                        <div class="cmt-header-icon cmt-header-search-link">
                                            <a href="#"><i class="fa fa-search"></i></a>
                                            <div class="cmt-search-overlay">
                                                <form method="get" class="cmt-site-searchform" action="#">
                                                    <div class="w-search-form-h">
                                                        <div class="w-search-form-row">
                                                            <div class="w-search-input">
                                                                <input type="search" class="field searchform-s" name="s" placeholder="Type Word Then Enter...">
                                                                <button type="submit">
                                                                    <i class="ti ti-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- header-icons end -->
                                    <div class="cmt-menu-toggle">
                                        <input type="checkbox" id="menu-toggle-form" />
                                        <label for="menu-toggle-form" class="cmt-menu-toggle-block">
                                            <span class="toggle-block toggle-blocks-1"></span>
                                            <span class="toggle-block toggle-blocks-2"></span>
                                            <span class="toggle-block toggle-blocks-3"></span>
                                        </label>
                                    </div>
                                    <!-- nav -->
                                    <nav id="menu" class="menu">
                                        <ul class="dropdown">
                                           <li class="active"><a [routerLink]="[ '/home' ]"> {{'Home' | transloco }}</a>
                                                
                                            </li>
                                        
                                           <li><a >{{ 'Services' | transloco }} </a>
                                                <ul>
                                                    
                                                    <li><a [routerLink]="['services/Carpentry']">{{ 'Carpentry' | transloco }} </a></li>
                                                    <li><a [routerLink]="['services/Basement-Remodeling']">{{ 'Basement-Remodeling' | transloco }} </a></li>
                                                    <li><a [routerLink]="['services/Kitchen-Remodeling']">{{ 'Kitchen-Remodeling' | transloco }}</a></li>
                                                    <li><a [routerLink]="['services/Remodeling-Project']">{{ 'Remodeling-Project' | transloco }}</a></li>
                                                    <li><a [routerLink]="['services/Construction-Permits']">{{ 'Construction-Permits' | transloco }}</a></li>
                                                    <li><a [routerLink]="['services/Project-Preview']">{{ 'Project-Preview' | transloco }}</a></li>
                                                </ul>
                                            </li>
                                            <li><a [routerLink]="['projects']" routerLinkActive="router-link-active" >{{ 'Projects' | transloco }}</a>
                                              
                                            </li>
                                            <li><a [routerLink]="[ 'about' ]">{{ 'About' | transloco }}</a>
                                                
                                            </li>
                                            <li><a [routerLink]="['contact']" 
                                                routerLinkActive="router-link-active">{{ 'Contact' | transloco }}</a></li>
                      
                                            
                                              <li><a ><i class="fa fa-globe"> </i> </a>
                                                <ul>
                                                    <select 
                                                    [ngModel]="selectLang"
                                                    (ngModelChange)="selectLanguage($event)">
                                                    <option value="es">
                                                        {{ 'Español.es' | transloco }}
                                                    </option>
                                                    <option value="en">
                                                        {{ 'English.en' | transloco }}
                                                    </option>
                                                   
                                                </select>
                                                    
                                                </ul>
                                            </li>
                                            
                                        </ul>
                                    </nav><!-- nav end-->
                                </div><!-- site-navigation end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- cmt-stickable-header-w end-->
    </div><!--cmt-header-wrap end -->
</header><!--header end-->
