  <!-- cmt-service-single-content-are -->
  <div class="cmt-service-single-content-area">
    <div class="post-featured-wrapper mb-40">
        <div class="post-featured">
            <img class="img-fluid" src="./assets/imagenP/cocinad.webp" alt="">
        </div>
    </div>
    <div class="cmt-service-description">
        <h4 class="mb-10">{{'Kitchen-Remodeling'| transloco}}</h4>
        <div class="mb-30">
            <p>{{'TextKitchen' | transloco}}</p>
        </div>
        <h4 class="mb-15">{{'OurProcess' | transloco}}</h4>
        <div class="accordion mb-35"><!-- accordion -->
            <!-- toggle -->
            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor">
                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{'pkichenA'| transloco}}</a></div>
                <div class="toggle-content">
                    <p>.</p>
                </div>
            </div><!-- toggle end -->
            <!-- toggle -->
            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor active">
                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">{{'pkichenB'| transloco}}.</a></div>
                <div class="toggle-content">
                    <p>.</p>
                </div>
            </div><!-- toggle end -->
            <!-- toggle -->
            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor">
                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">{{'pkichenC'| transloco}}.</a></div>
                <div class="toggle-content">
                    <p>.</p>
                </div>
            </div><!-- toggle end -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                [animation]="'slide'">
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
      <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"
           *ngFor="let card of item; let cardIndex = index">
        <mdb-card class="my-1">
          <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
        </mdb-card>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <hr>
            </div>
          
        </div>
        <app-what-receive></app-what-receive>
    </div>
</div><!-- cmt-service-single-content-are end -->

