<!-- cmt-service-single-content-are -->
<div class="cmt-service-single-content-area">
    <div class="post-featured-wrapper mb-40">
        <div class="post-featured">
            <img class="img-fluid" src="./assets/imagenP/projec.webp" alt="">
        </div>
    </div>
    <div class="cmt-service-description">
        <h4 class="mb-10">Project Remodeling</h4>
        <div class="mb-30">
            <p>Remodeling projects of your home, company or office. We have last generation teams to carry out all types
                of work that you want to do? contact us.</p>
        </div>
        <h4 class="mb-15">Our Process</h4>
        <div class="accordion mb-35">
            <!-- accordion -->
            <!-- toggle -->
            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor">
                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Paint Choice</a></div>
                <div class="toggle-content">
                    <p>.</p>
                </div>
            </div><!-- toggle end -->
            <!-- toggle -->
            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor active">
                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Correct lighting.</a></div>
                <div class="toggle-content">
                    <p>.</p>
                </div>
            </div><!-- toggle end -->
            <!-- toggle -->
            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor">
                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Modernize your surfaces.</a></div>
                <div class="toggle-content">
                    <p>.</p>
                </div>
            </div><!-- toggle end -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                [animation]="'slide'">
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
      <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"
           *ngFor="let card of item; let cardIndex = index">
        <mdb-card class="my-1">
          <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
        </mdb-card>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
            </div>
            
        </div>
        <h4 class="mb-10">What You Receive?</h4>
        <div class="mb-30">
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon">
                        <!--featured-icon-->
                        <div
                            class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-customer-support"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <!--featured-content-->
                        <div class="featured-title">
                            <h5>Certified Contractor</h5>
                        </div>
                        <div class="featured-desc">
                            <!--featured-desc-->
                            <p></p>
                        </div>
                    </div>
                    <!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon">
                        <!--featured-icon-->
                        <div
                            class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-idea"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <!--featured-content-->
                        <div class="featured-title">
                            <h5>Dedicated Team Members</h5>
                        </div>
                        <div class="featured-desc">
                            <!--featured-desc-->
                            <p></p>
                        </div>
                    </div>
                    <!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon">
                        <!--featured-icon-->
                        <div
                            class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-builder"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <!--featured-content-->
                        <div class="featured-title">
                            <h5>Qualities of Good Brick</h5>
                        </div>
                        <div class="featured-desc">
                            <!--featured-desc-->
                            <p></p>
                        </div>
                    </div>
                    <!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon">
                        <!--featured-icon-->
                        <div
                            class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-shovel"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <!--featured-content-->
                        <div class="featured-title">
                            <h5>Qualities of Cement</h5>
                        </div>
                        <div class="featured-desc">
                            <!--featured-desc-->
                            <p></p>
                        </div>
                    </div>
                    <!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon">
                        <!--featured-icon-->
                        <div
                            class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-pick-mattock"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <!--featured-content-->
                        <div class="featured-title">
                            <h5>Specific gravity of soil</h5>
                        </div>
                        <div class="featured-desc">
                            <!--featured-desc-->
                            <p></p>
                        </div>
                    </div>
                    <!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon">
                        <!--featured-icon-->
                        <div
                            class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-gear-1"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <!--featured-content-->
                        <div class="featured-title">
                            <h5>Soil Testing</h5>
                        </div>
                        <div class="featured-desc">
                            <!--featured-desc-->
                            <p></p>
                        </div>
                    </div>
                    <!--featured-icon-box-->
                </div>
            </div>
        </div>
    </div>
</div><!-- cmt-service-single-content-are end -->