<div id="rev_slider_5_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay" data-alias="classic4export" data-source="gallery">
 
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="./assets/bg2.jpg" alt="First slide">
          <div class="carousel-caption caption">
              <div class="flex-container">
            <h3 class="h3-responsive">Carpentry </h3></div>
            <div class="flex-container">
                <p >Remodeling </p></div>
            <div class="flex-container">
            <p >Remodelamos tu Hogar </p></div>
            <div class="button">
                <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-bgcolor-skincolor mt-35" href="#">Read More</a>
              </div>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="./assets/slider3.jpg" alt="Second slide">
          <div class="carousel-caption caption">
            <div class="flex-container">
          <h3 class="h3-responsive">Bathroom </h3></div>
          <div class="flex-container">
              <p >Remodeling </p></div>
          <div class="flex-container">
          <p >Remodelamos tu Hogar </p></div>
          <div class="button">
              <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-bgcolor-skincolor mt-35" href="#">Read More</a>
            </div>
        </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="./assets/cocina.jpg" alt="Third slide">
          <div class="carousel-caption caption">
            <h3 class="h3-responsive">Beautiful</h3>
            <p>kitchen jobs</p>
            <div class="button">
            <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-bgcolor-skincolor mt-35" href="#">Read More</a>
          </div>
        </div>

      
           
    
        
        </mdb-carousel-item>
      </mdb-carousel>


</div>

  <!--site-main start-->
   <div class="site-main">
	
    <!--about-section-->
    <section class="cmt-row about-section bg-img1 clearfix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12">
                    <!-- cmt_single_image-wrapper -->
                    <div class="cmt_single_image-wrapper">
                        <img class="img-fluid" src="./assets/images/about.jpg" alt="">
                    </div><!-- cmt_single_image-wrapper end -->
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="res-991-mt-30">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                                <h5>ABOUT US</h5>
                                <h2 class="title">We building everything that you needed</h2>
                            </div>
                        </div><!-- section title end -->
                        <p>We are a company that was born with the aim of becoming the first option when it comes to carrying out your constructions, renovations and everything you imagine for your home, office or business, contact us with pleasure we will assist you.</p>
                        <p>Aenean tincidunt id mauris id auctor. an countries during the Industrial mercantile and feudal economies.ThDonec atnissim quis neque interdum, quis porta sem ng the Industrial
                        </p>
                        <!-- row-->
                        <div class="row no-gutters pt-15">
                            <div class="col-md-6 col-sm-6">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box iconalign-before-heading">
                                    <div class="featured-content">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-winch"></i>
                                        </div>
                                        <div class="featured-title">
                                            <h5>Carpentry</h5>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box iconalign-before-heading">
                                    <div class="featured-content">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-model"></i>
                                        </div>
                                        <div class="featured-title">
                                            <h5>Remodeling</h5>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box iconalign-before-heading">
                                    <div class="featured-content">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-barrier"></i>
                                        </div>
                                        <div class="featured-title">
                                            <h5>Engineering</h5>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box iconalign-before-heading">
                                    <div class="featured-content">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-wrench"></i>
                                        </div>
                                        <div class="featured-title">
                                            <h5>Planning</h5>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                        </div><!-- row end-->
                        <div class="row">
                            <div class="col-md-12">
                                <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-bgcolor-skincolor mt-35" href="#">Read More</a>
                                <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-border cmt-btn-color-darkgrey mt-35 ml-15" href="#">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--about-section end-->
    <!--best-company-section-->
    <section class="cmt-row best-company-section bg-img2 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <!-- col-bg-img-one -->
                    <div class="col-bg-img-one cmt-col-bgimage-yes cmt-bg cmt-left-span cmt-bgcolor-darkgrey spacing-1 with-border">
                        <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                            <div class="cmt-bg-layer-inner"></div>
                        </div>
                        <div class="layer-content">
                            <!-- section title -->
                            <div class="section-title clearfix">
                                <div class="title-header">
                                    <h2 class="title">Why we are best in construction company USA</h2>
                                </div>
                            </div><!-- section title end -->
                            <p>Constructor explains how you can enjoy high end flooring trends like textured wood and with new laminate flooring. As the general contractor, we first create the highe rust integrity with our clients. </p>
                            <div class="row no-gutters mb-20 mt-20">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon">
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">The Easiest Way To Get What Need </span></li>
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">Need It Fast? We Can Help.</span></li>
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">We work to reduce air emissions</span></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon">
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">industriel has a brilliant</span></li>
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">Capitalise on low hanging fruit to identify</span></li>
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">You get speed, flexibility and better control</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- row-->
                            <div class="row no-gutters">
                             
                            </div><!-- row end-->
                        </div>
                    </div><!-- col-bg-img-one -->
                </div>
            </div>
        </div>
    </section><!--best-company-section-->
    <!--service-section-->
    <section class="cmt-row service-section bg-img13 clearfix">
        <div class="container">
            <div class="row"><!-- row -->
                <div class="col-1 col-md-2 col-lg-3"></div>
                <div class="col-10 col-md-8 col-lg-6">
                    <!-- section title -->
                    <div class="section-title with-desc text-center clearfix">
                        <div class="title-header">
                            <h5>WORKING WITH EXCELLENT</h5>
                            <h2 class="title">Our special services</h2>
                        </div>
                    </div><!-- section title end -->
                </div>
                <div class="col-1 col-md-2 col-lg-3"></div>
            </div><!-- row end -->
            <div class="row"><!-- row -->
                <div class="col-lg-4">
                    <!--featured-icon-box-->
                    <div class="featured-icon-box style1 left-icon icon-align-top">
                        <div class="featured-icon"><!--featured-icon-->
                            <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md cmt-icon_element-style-square">
                                <i class="flaticon flaticon-barrier"></i>
                            </div>
                        </div>
                        <div class="featured-content"><!--featured-content-->
                            <div class="featured-title">
                                <h5><a href="apartment-design.html">Installation of doors and windows</a></h5>
                            </div>
                            <div class="separator">
                                <div class="sep-line mt-10 mb-15"></div>
                            </div>
                            <div class="featured-desc"><!--featured-desc-->
                                <p>Get exterior design ideas for your modern house elevation with our 50 unique modern house facades.</p>
                            </div>
                            <a href="apartment-design.html" class="cmt-icon cmt-icon_element-border cmt-icon_element-color-white cmt-icon_element-size-xs cmt-icon_element-style-round">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div><!--featured-icon-box-->
                    <!--featured-icon-box-->
                    <div class="featured-icon-box style1 left-icon icon-align-top">
                        <div class="featured-icon"><!--featured-icon-->
                            <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md cmt-icon_element-style-square">
                                <i class="flaticon flaticon-construction-and-tools-2"></i>
                            </div>
                        </div>
                        <div class="featured-content"><!--featured-content-->
                            <div class="featured-title">
                                <h5><a href="expert-mechanical.html">Basement Remodeling</a></h5>
                            </div>
                            <div class="separator">
                                <div class="sep-line mt-10 mb-15"></div>
                            </div>
                            <div class="featured-desc"><!--featured-desc-->
                                <p>We totally remodel your basement. </p>
                            </div>
                            <a href="architectural-design.html" class="cmt-icon cmt-icon_element-border cmt-icon_element-color-white cmt-icon_element-size-xs cmt-icon_element-style-round">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
                <div class="col-lg-4">
                    <div class="featured-icon-box text-center style2 box-shadow">
                        <div class="featured-icon"><!--featured-icon-->
                            <div class="cmt-icon cmt-icon_element-fill cmt-icon_element-bgcolor-skincolor cmt-icon_element-size-md cmt-icon_element-style-round">
                                <i class="flaticon flaticon-pick-mattock"></i>
                            </div>
                        </div>
                        <div class="featured-content mt-25"><!--featured-content-->
                            <div class="featured-title">
                                <h5>Provide Variety Construction Services</h5>
                            </div>
                            <div class="highlight-box cmt-textcolor-white cmt-bgcolor-darkgrey">
                                <p>Discount <span class="cmt-textcolor-skincolor">25%</span></p>
                                <h5>Request your budget</h5>
                            </div>
                            <a href="#" class="cmt-textcolor-skincolor">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!--featured-icon-box-->
                    <div class="featured-icon-box style1 left-icon icon-align-top">
                        <div class="featured-icon"><!--featured-icon-->
                            <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md cmt-icon_element-style-square">
                                <i class="flaticon flaticon-tractor"></i>
                            </div>
                        </div>
                        <div class="featured-content"><!--featured-content-->
                            <div class="featured-title">
                                <h5><a href="house-planning.html">Kitchen Remodeling</a></h5>
                            </div>
                            <div class="separator">
                                <div class="sep-line mt-10 mb-15"></div>
                            </div>
                            <div class="featured-desc"><!--featured-desc-->
                                <p>We will work with you to make small or large changes so you get the house of your dreams</p>
                            </div>
                            <a href="house-planning-2.html" class="cmt-icon cmt-icon_element-border cmt-icon_element-color-white cmt-icon_element-size-xs cmt-icon_element-style-round">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div><!--featured-icon-box-->
                    <!--featured-icon-box-->
                    <div class="featured-icon-box style1 left-icon icon-align-top">
                        <div class="featured-icon"><!--featured-icon-->
                            <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md cmt-icon_element-style-square">
                                <i class="flaticon flaticon-engineer-working"></i>
                            </div>
                        </div>
                        <div class="featured-content"><!--featured-content-->
                            <div class="featured-title">
                                <h5><a href="repair-welding.html">Repair Welding</a></h5>
                            </div>
                            <div class="separator">
                                <div class="sep-line mt-10 mb-15"></div>
                            </div>
                            <div class="featured-desc"><!--featured-desc-->
                                <p>Special repairs of building are undertaken to replace the existing parts of buildings. </p>
                            </div>
                            <a href="repair-welding.html" class="cmt-icon cmt-icon_element-border cmt-icon_element-color-white cmt-icon_element-size-xs cmt-icon_element-style-round">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--service-section end-->
    <!--row-title-section-->
    <section class="cmt-row row-title-section bg-img3 cmt-textcolor-white clearfix position-relative">
        <div class="video-overlay darkgrey"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="cmt-video-bg">
          <source src="https://www.facebook.com/931288063904813/videos/183122219416852" type="video/mp4">
        </video>
        <div class="container">
            <div class="row align-items-center"><!-- row -->
                <div class="offset-lg-1 offset-md-1 col-md-10 col-lg-10">
                    <div class="text-center z-1 position-relative">
                        <div class="cmt-video-icon cmt-left-video-icon ttm_prettyphoto mt-35 res-991-mt-30">
                            <a class="cmt-icon cmt-icon_element-fill cmt-icon_element-background-color-white cmt-icon_element-size-md cmt-icon_element-style-round ttm_prettyphoto mb-0" 
                            href="https://www.facebook.com/931288063904813/videos/183122219416852/">
                                <i class="fa fa-play cmt-textcolor-darkgrey"></i>
                            </a>
                        </div>
                        <!-- section title -->
                        <div class="section-title row-title mt-40 clearfix">
                            <div class="title-header">
                                <h2 class="title">As About<br> your <span class="cmt-textcolor-skincolor">architecture</span> project </h2>
                            </div>
                            <div class="title-desc">
                                3d architecture projects request yours<br> and insured with a 100% satisfaction guarantee.
                            </div>
                        </div><!-- section title end -->
                        <div class="text-center res-767-mt-30">
                            <a class="cmt-btn cmt-btn-size-md cmt-btn-style-border cmt-btn-color-white mt-35 res-991-mt-15" href="#">For Appoinment Today</a>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--row-title-section END-->
    <!--broken-section-->
    <section class="cmt-row quality-section position-relative cmt-bgcolor-white clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="mb_70 mr_40 res-991-m-0">
                        <!-- cmt_single_image-wrapper -->
                        <div class="cmt_single_image-wrapper with-border white-border border-top-none position-relative z-1">
                            <img class="img-fluid mt_12 skin-border with-top-border" src="./assets/images/about2.jpg" alt="img">
                        </div><!-- cmt_single_image-wrapper end -->
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="pt-65 pl-50 res-991-p-0 res-991-mt-20">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                                <h5>ABOUT CONSULTANCY</h5>
                                <h2 class="title">Improve Living Quality, Approach Experts</h2>
                            </div>
                        </div><!-- section title end -->
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style3 left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-bgcolor-skincolor cmt-icon_element-size-xs cmt-icon_element-style-round">
                                    <i class="ti ti-info cmt-num"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Civil and environmental services</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Part of experts team to manage commercial, institutional, and industrial projects.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end -->
                        <div class="separator">
                            <div class="sep-line mb-25"></div>
                        </div>
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style3 left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-bgcolor-skincolor cmt-icon_element-size-xs cmt-icon_element-style-round">
                                    <i class="ti ti-info cmt-num"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Energy saving methods</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Shape and orientation of the building, solar protections, passive solar systems.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end -->
                        <div class="separator">
                            <div class="sep-line mb-25"></div>
                        </div>
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style3 left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-bgcolor-skincolor cmt-icon_element-size-xs cmt-icon_element-style-round">
                                    <i class="ti ti-info cmt-num"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Site development</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Our experience and commitment to our customers assure that Merritt will meet your objectives.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end -->
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--broken-section end-->
    <!--testimonial-section-->
    <section class="cmt-row testimonial-section cmt-bgcolor-skincolor cmt-bg cmt-bgimage-yes bg-img4 clearfix">
        <div class="cmt-row-wrapper-bg-layer cmt-bg-layer"></div>
        <div class="container">
            <div class="row"><!-- row -->
                <div class="col-1 col-md-2 col-lg-3"></div>
                <div class="col-10 col-md-8 col-lg-6">
                    <!-- section title -->
                    <div class="section-title with-desc text-center clearfix">
                        <div class="title-header">
                            <h5>Testimonial</h5>
                            <h2 class="title">What our clients saying?</h2>
                        </div>
                    </div><!-- section title end -->
                </div>
                <div class="col-1 col-md-2 col-lg-3"></div>
            </div><!-- row end-->
            <div class="row">
                <!-- wrap-testimonial -->
                <div class="testimonial-slide owl-carousel" data-item="3" data-nav="false" data-dots="true" data-auto="false">
                    <!-- testimonials -->
                    <div class="testimonials cmt-testimonial-box-view-style1">
                        <div class="testimonial-content"><!-- testimonial-content -->
                            <blockquote class="testimonial-text">Praesent pharetra orci odio, ut mattis tellus ullamcorper ornare. Suspendisse ullamcorper metus in erat viverra , vehicula pharetra dolo.</blockquote>
                            <div class="testimonial-avatar">
                                <div class="testimonial-img"><!-- testimonial-img -->
                                    <img class="img-fluid" src="images/testimonial/01.jpg" alt="testimonial-img">
                                </div>
                                 <div class="testimonial-caption">
                                    <h5>Rshley Foster</h5><!-- testimonial-caption -->
                                    <label>CEO Of Financial Corp.</label>
                                </div>
                            </div>
                        </div>
                    </div><!-- testimonials end -->
                    <!-- testimonials -->
                    <div class="testimonials cmt-testimonial-box-view-style1">
                        <div class="testimonial-content"><!-- testimonial-content -->
                            <blockquote class="testimonial-text">Praesent pharetra orci odio, ut mattis tellus ullamcorper ornare. Suspendisse ullamcorper metus in erat viverra , vehicula pharetra dolo.</blockquote>
                            <div class="testimonial-avatar">
                                <div class="testimonial-img"><!-- testimonial-img -->
                                    <img class="img-fluid" src="images/testimonial/02.jpg" alt="testimonial-img">
                                </div>
                                 <div class="testimonial-caption">
                                    <h5>Alex John</h5><!-- testimonial-caption -->
                                    <label>CEO Of Financial Corp.</label>
                                </div>
                            </div>
                        </div>
                    </div><!-- testimonials end -->
                    <!-- testimonials -->
                    <div class="testimonials cmt-testimonial-box-view-style1">
                        <div class="testimonial-content"><!-- testimonial-content -->
                            <blockquote class="testimonial-text">Praesent pharetra orci odio, ut mattis tellus ullamcorper ornare. Suspendisse ullamcorper metus in erat viverra , vehicula pharetra dolo.</blockquote>
                            <div class="testimonial-avatar">
                                <div class="testimonial-img"><!-- testimonial-img -->
                                    <img class="img-fluid" src="images/testimonial/03.jpg" alt="testimonial-img">
                                </div>
                                 <div class="testimonial-caption">
                                    <h5>Maria st</h5><!-- testimonial-caption -->
                                    <label>CEO Of Financial Corp.</label>
                                </div>
                            </div>
                        </div>
                    </div><!-- testimonials end -->
                    <!-- testimonials -->
                    <div class="testimonials cmt-testimonial-box-view-style1">
                        <div class="testimonial-content"><!-- testimonial-content -->
                            <blockquote class="testimonial-text">Praesent pharetra orci odio, ut mattis tellus ullamcorper ornare. Suspendisse ullamcorper metus in erat viverra , vehicula pharetra dolo.</blockquote>
                            <div class="testimonial-avatar">
                                <div class="testimonial-img"><!-- testimonial-img -->
                                    <img class="img-fluid" src="images/testimonial/01.jpg" alt="testimonial-img">
                                </div>
                                 <div class="testimonial-caption">
                                    <h5>Joe Smith</h5><!-- testimonial-caption -->
                                    <label>CEO Of Financial Corp.</label>
                                </div>
                            </div>
                        </div>
                    </div><!-- testimonials end -->
                    <!-- testimonials -->
                    <div class="testimonials cmt-testimonial-box-view-style1">
                        <div class="testimonial-content"><!-- testimonial-content -->
                            <blockquote class="testimonial-text">Praesent pharetra orci odio, ut mattis tellus ullamcorper ornare. Suspendisse ullamcorper metus in erat viverra , vehicula pharetra dolo.</blockquote>
                            <div class="testimonial-avatar">
                                <div class="testimonial-img"><!-- testimonial-img -->
                                    <img class="img-fluid" src="images/testimonial/02.jpg" alt="testimonial-img">
                                </div>
                                 <div class="testimonial-caption">
                                    <h5>Lara huie</h5><!-- testimonial-caption -->
                                    <label>CEO Of Financial Corp.</label>
                                </div>
                            </div>
                        </div>
                    </div><!-- testimonials end -->
                    <!-- testimonials -->
                    <div class="testimonials cmt-testimonial-box-view-style1">
                        <div class="testimonial-content"><!-- testimonial-content -->
                            <blockquote class="testimonial-text">Praesent pharetra orci odio, ut mattis tellus ullamcorper ornare. Suspendisse ullamcorper metus in erat viverra , vehicula pharetra dolo.</blockquote>
                            <div class="testimonial-avatar">
                                <div class="testimonial-img"><!-- testimonial-img -->
                                    <img class="img-fluid" src="images/testimonial/03.jpg" alt="testimonial-img">
                                </div>
                                 <div class="testimonial-caption">
                                    <h5>Maria st</h5><!-- testimonial-caption -->
                                    <label>CEO Of Financial Corp.</label>
                                </div>
                            </div>
                        </div>
                    </div><!-- testimonials end -->
                    <!-- testimonials -->
                    <div class="testimonials cmt-testimonial-box-view-style1">
                        <div class="testimonial-content"><!-- testimonial-content -->
                            <blockquote class="testimonial-text">Praesent pharetra orci odio, ut mattis tellus ullamcorper ornare. Suspendisse ullamcorper metus in erat viverra , vehicula pharetra dolo.</blockquote>
                            <div class="testimonial-avatar">
                                <div class="testimonial-img"><!-- testimonial-img -->
                                    <img class="img-fluid" src="images/testimonial/01.jpg" alt="testimonial-img">
                                </div>
                                 <div class="testimonial-caption">
                                    <h5>Joe Smith</h5><!-- testimonial-caption -->
                                    <label>CEO Of Financial Corp.</label>
                                </div>
                            </div>
                        </div>
                    </div><!-- testimonials end -->
                </div><!-- wrap-testimonial end-->
            </div>
        </div>
    </section>
    <!--testimonial-section-->
    <!--portfolio-text-section-->
    <section class="cmt-row portfolio-text-section cmt-bgcolor-darkgrey clearfix">
        <div class="container">
            <div class="row"><!-- row -->
                <div class="col-sm-12">
                    <!-- section title -->
                    <div class="section-title style2 clearfix">
                        <div class="title-header">
                            <h5>We Make Connections</h5>
                            <h2 class="title">Explore recent projects</h2>
                        </div>
                        <div class="title-desc">The argument in favor of using filler text goes something like this: If you use real iller text goes something content in the design.</div>
                    </div><!-- section title end -->
                </div>
            </div><!-- row end-->
        </div>
    </section>
    <!--portfolio-text-section-->
    <!--portfolio-section-->


    


    <section class="cmt-row portfolio-section cmt-bgcolor-grey clearfix">
<div class="flex-container">


    <div class="featured-imagebox featured-imagebox-portfolio style1">
        <!-- featured-thumbnail -->
        <div class="featured-thumbnail">
            <img class="img-fluid" src="./assets/images/projec.jpg" alt="image">
        </div><!-- featured-thumbnail end-->
        <!-- cmt-box-view-overlay -->
        <div class="cmt-box-view-overlay">
            <div class="portfolio-icon-box">
                <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
            </div>
        </div><!-- cmt-box-view-overlay end-->
        <div class="featured-content">
            <div class="category">
                <p>Titulo de Projecto</p>
            </div>
            <div class="featured-title">
                <h5><a href="portfolio-single.html">Project description</a></h5>
            </div>
        </div>
    </div>


    
    <div class="featured-imagebox featured-imagebox-portfolio style1">
        <!-- featured-thumbnail -->
        <div class="featured-thumbnail">
            <img class="img-fluid" src="./assets/images/projec1.jpg" alt="image">
        </div><!-- featured-thumbnail end-->
        <!-- cmt-box-view-overlay -->
        <div class="cmt-box-view-overlay">
            <div class="portfolio-icon-box">
                <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
            </div>
        </div><!-- cmt-box-view-overlay end-->
        <div class="featured-content">
            <div class="category">
                <p>Titulo de Projecto</p>
            </div>
            <div class="featured-title">
                <h5><a href="portfolio-single.html">Project description</a></h5>
            </div>
        </div>
    </div>
    
    <div class="featured-imagebox featured-imagebox-portfolio style1">
        <!-- featured-thumbnail -->
        <div class="featured-thumbnail">
            <img class="img-fluid" src="./assets/images/projec2.jpg" alt="image">
        </div><!-- featured-thumbnail end-->
        <!-- cmt-box-view-overlay -->
        <div class="cmt-box-view-overlay">
            <div class="portfolio-icon-box">
                <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
            </div>
        </div><!-- cmt-box-view-overlay end-->
        <div class="featured-content">
            <div class="category">
                <p>Project Title</p>
            </div>
            <div class="featured-title">
                <h5><a href="portfolio-single.html">Project description</a></h5>
            </div>
        </div>
    </div>
    
    <div class="featured-imagebox featured-imagebox-portfolio style1">
        <!-- featured-thumbnail -->
        <div class="featured-thumbnail">
            <img class="img-fluid" src="./assets/images/projec3.jpg" alt="image">
        </div><!-- featured-thumbnail end-->
        <!-- cmt-box-view-overlay -->
        <div class="cmt-box-view-overlay">
            <div class="portfolio-icon-box">
                <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
            </div>
        </div><!-- cmt-box-view-overlay end-->
        <div class="featured-content">
            <div class="category">
                <p>Project Title</p>
            </div>
            <div class="featured-title">
                <h5><a href="portfolio-single.html">Install insulation</a></h5>
            </div>
        </div>
    </div>


</div>
    </section>

<hr>
    
    <!--portfolio-section-->
    <!--post-section-->
  
    <!--post-section end-->

</div><!--site-main end-->
