<div id="rev_slider_5_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay" data-alias="classic4export" data-source="gallery">
 
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="./assets/imagenP/piso.webp" alt="First slide">
          <div class="carousel-caption caption">
              <div class="flex-container ">
            <h3 class="h3-responsive animated fadeInDown delay-1s">{{ 'Remodeling' | transloco }} </h3></div>
            <div class="flex-container">
                <p >{{'Carpentry' | transloco}}</p></div>
            <div class="flex-container">
            <p class="animated fadeInDown delay-1s"> </p></div>
            <div class="button">
                <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-bgcolor-skincolor mt-35" href="#">Read More</a>
              </div>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="./assets/slider3.webp" alt="Second slide">
          <div class="carousel-caption caption">
            <div class="flex-container">
          <h3 class="h3-responsive animated fadeInDown delay-1s">{{'Remodelingb' | transloco}}</h3></div>
          <div class="flex-container">
              <p class="animated fadeInDown delay-1s" >{{'Bathroom' | transloco}} </p></div>
          <div class="flex-container">
          <p > </p></div>
          <div class="button">
              <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-bgcolor-skincolor mt-35" href="#">Read More</a>
            </div>
        </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="./assets/cocina.webp" alt="Third slide">
          <div class="carousel-caption caption">
            <h3 class="h3-responsive animated fadeInDown delay-1s">{{'Beautiful' | transloco}}</h3>
            <p class="animated fadeInDown delay-1s">{{'Kitchenjobs' | transloco }}</p>
            <div class="button">
            <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-bgcolor-skincolor mt-35" href="#">Read More</a>
          </div>
        </div>

      
           
    
        
        </mdb-carousel-item>
      </mdb-carousel>


</div>


  <!--site-main start-->
   <div class="site-main">

    <hr>
  
	
    <!--about-section-->
    <section class="cmt-row about-section bg-img1 clearfix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-sm-12">
                    <!-- cmt_single_image-wrapper -->
                    <div class=" flex-container">
                        
                        <div class="view">
                         
                        
                           
                        
                                <vg-player>
                                    <video class="video-fluid" [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                                        <source src="./assets/video/video2.mp4" type="video/mp4">
                                    </video>
                                </vg-player>
                            
                           
                          </div>
                    </div>
                   <!-- cmt_single_image-wrapper end -->
                </div>
                <div class="col-lg-5 col-sm-12">
                    <div class="res-991-mt-30">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                                <h5>{{'Look' | transloco}}</h5>
                                <h2 class="title">{{'Ask' | transloco}} <span class="cmt-textcolor-skincolor">{{'Projects' | transloco}}</span> {{'Architecture' | transloco}}</h2>
                            </div>
                        </div><!-- section title end -->
                       
                        <!-- row-->
                        <div class="row no-gutters pt-15">
                            <div class="col-md-6 col-sm-6">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box iconalign-before-heading">
                                    <div class="featured-content">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-winch"></i>
                                        </div>
                                        <div class="featured-title">
                                            <h5>{{'Remodelinp' | transloco}}</h5>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box iconalign-before-heading">
                                    <div class="featured-content">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-model"></i>
                                        </div>
                                        <div class="featured-title">
                                            <h5>{{'Constructionp' | transloco}}</h5>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box iconalign-before-heading">
                                    <div class="featured-content">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-barrier"></i>
                                        </div>
                                        <div class="featured-title">
                                            <h5>{{'Proposalp' | transloco}} </h5>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box iconalign-before-heading">
                                    <div class="featured-content">
                                        <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                            <i class="flaticon flaticon-wrench"></i>
                                        </div>
                                        <div class="featured-title">
                                            <h5>{{'Projectp' | transloco}}</h5>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                        </div><!-- row end-->
                        <div class="row">
                            <div class="col-md-12">
                              
                                <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-bgcolor-skincolor mt-35" href="#">{{'Contact'| transloco}}</a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--about-section end-->
    <!--best-company-section-->
    <section class="cmt-row best-company-section bg-img2 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <!-- col-bg-img-one -->
                    <div class="col-bg-img-one cmt-col-bgimage-yes cmt-bg cmt-left-span cmt-bgcolor-darkgrey spacing-1 with-border">
                        <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                            <div class="cmt-bg-layer-inner"></div>
                        </div>
                        <div class="layer-content">
                            <!-- section title -->
                            <div class="section-title clearfix">
                                <div class="title-header">
                                    <h2 class="title">{{'Weare' | transloco}}</h2>
                                </div>
                            </div><!-- section title end -->
                            <p>{{'Weoffer' | transloco}} </p>
                            <div class="row no-gutters mb-20 mt-20">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon">
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">{{'Easi' | transloco}} </span></li>
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">{{'Need' | transloco}}.</span></li>
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content">{{'Perso' | transloco}}</span></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon">
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content"></span></li>
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content"></span></li>
                                        <li><i class="icon-ok-5 cmt-textcolor-skincolor"></i><span class="cmt-list-li-content"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- row-->
                            <div class="row no-gutters">
                             
                            </div><!-- row end-->
                        </div>
                    </div><!-- col-bg-img-one -->
                </div>
            </div>
        </div>
    </section><!--best-company-section-->
    <!--service-section-->
    <section class="cmt-row service-section bg-img13 clearfix">
        <div class="container">
            <div class="row"><!-- row -->
                <div class="col-1 col-md-2 col-lg-3"></div>
                <div class="col-10 col-md-8 col-lg-6">
                    <!-- section title -->
                    <div class="section-title with-desc text-center clearfix">
                        <div class="title-header">
                            <h5>{{'Workingwe' | transloco}}</h5>
                            <h2 class="title">{{'Oure' | transloco}}</h2>
                        </div>
                    </div><!-- section title end -->
                </div>
                <div class="col-1 col-md-2 col-lg-3"></div>
            </div><!-- row end -->
            <div class="row"><!-- row -->
                <div class="col-lg-4">
                    <!--featured-icon-box-->
                    <div class="featured-icon-box style1 left-icon icon-align-top">
                        <div class="featured-icon"><!--featured-icon-->
                            <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md cmt-icon_element-style-square">
                                <i class="flaticon flaticon-barrier"></i>
                            </div>
                        </div>
                        <div class="featured-content"><!--featured-content-->
                            <div class="featured-title">
                                <h5><a href="apartment-design.html">{{'Instadw' | transloco}}</a></h5>
                            </div>
                            <div class="separator">
                                <div class="sep-line mt-10 mb-15"></div>
                            </div>
                            <div class="featured-desc"><!--featured-desc-->
                                <p>{{'Instadwt' | transloco}}.</p>
                            </div>
                            <a href="apartment-design.html" class="cmt-icon cmt-icon_element-border cmt-icon_element-color-white cmt-icon_element-size-xs cmt-icon_element-style-round">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div><!--featured-icon-box-->
                    <!--featured-icon-box-->
                    <div class="featured-icon-box style1 left-icon icon-align-top">
                        <div class="featured-icon"><!--featured-icon-->
                            <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md cmt-icon_element-style-square">
                                <i class="flaticon flaticon-construction-and-tools-2"></i>
                            </div>
                        </div>
                        <div class="featured-content"><!--featured-content-->
                            <div class="featured-title">
                                <h5><a href="expert-mechanical.html">{{'Basement-Remodeling' | transloco}}</a></h5>
                            </div>
                            <div class="separator">
                                <div class="sep-line mt-10 mb-15"></div>
                            </div>
                            <div class="featured-desc"><!--featured-desc-->
                                <p>{{'Basamenttexth' | transloco}}. </p>
                            </div>
                            <a href="architectural-design.html" class="cmt-icon cmt-icon_element-border cmt-icon_element-color-white cmt-icon_element-size-xs cmt-icon_element-style-round">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
                <div class="col-lg-4">
                    <div class="featured-icon-box text-center style2 box-shadow">
                        <div class="featured-icon"><!--featured-icon-->
                            <div class="cmt-icon cmt-icon_element-fill cmt-icon_element-bgcolor-skincolor cmt-icon_element-size-md cmt-icon_element-style-round">
                                <i class="flaticon flaticon-pick-mattock"></i>
                            </div>
                        </div>
                        <div class="featured-content mt-25"><!--featured-content-->
                            <div class="featured-title">
                                <h5>{{'Provide' | transloco}}</h5>
                            </div>
                            <div class="highlight-box cmt-textcolor-white cmt-bgcolor-darkgrey">
                                <p> <span class="cmt-textcolor-skincolor"></span></p>
                                <h5>{{'Request' | transloco}}</h5>
                            </div>
                            <a href="#" class="cmt-textcolor-skincolor">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!--featured-icon-box-->
                    <div class="featured-icon-box style1 left-icon icon-align-top">
                        <div class="featured-icon"><!--featured-icon-->
                            <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md cmt-icon_element-style-square">
                                <i class="flaticon flaticon-tractor"></i>
                            </div>
                        </div>
                        <div class="featured-content"><!--featured-content-->
                            <div class="featured-title">
                                <h5><a href="house-planning.html">{{'Kitchen-Remodeling' | transloco}}</a></h5>
                            </div>
                            <div class="separator">
                                <div class="sep-line mt-10 mb-15"></div>
                            </div>
                            <div class="featured-desc"><!--featured-desc-->
                                <p>{{'Kitchentexth' | transloco}}</p>
                            </div>
                            <a href="house-planning-2.html" class="cmt-icon cmt-icon_element-border cmt-icon_element-color-white cmt-icon_element-size-xs cmt-icon_element-style-round">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div><!--featured-icon-box-->
                    <!--featured-icon-box-->
                    <div class="featured-icon-box style1 left-icon icon-align-top">
                        <div class="featured-icon"><!--featured-icon-->
                            <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md cmt-icon_element-style-square">
                                <i class="flaticon flaticon-engineer-working"></i>
                            </div>
                        </div>
                        <div class="featured-content"><!--featured-content-->
                            <div class="featured-title">
                                <h5><a href="repair-welding.html">{{'Carpentry' | transloco}}</a></h5>
                            </div>
                            <div class="separator">
                                <div class="sep-line mt-10 mb-15"></div>
                            </div>
                            <div class="featured-desc"><!--featured-desc-->
                                <p>{{'Carpentrytexth' | transloco}} </p>
                            </div>
                            <a href="repair-welding.html" class="cmt-icon cmt-icon_element-border cmt-icon_element-color-white cmt-icon_element-size-xs cmt-icon_element-style-round">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--service-section end-->

           <!--Video-title-section-->
           <section class="cmt-row row-title-section bg-img3 cmt-textcolor-white clearfix position-relative">
            <div class="video-overlay darkgrey flex-container"></div>
           <video playsinline="playsinline" autoplay="autoplay" [muted]="'muted'" loop="loop" class="cmt-video-bg">
              <source src="./assets/video/videv.mp4"
               type="video/mp4">
            </video>
            <div class="container">
                <div class="row align-items-center"><!-- row -->
                    <div class="offset-lg-1 offset-md-1 col-md-10 col-lg-10">
                        <div class="text-center z-1 position-relative">
                              <div class="cmt-video-icon cmt-left-video-icon ttm_prettyphoto mt-35 res-991-mt-30">
                                <a class="cmt-icon cmt-icon_element-fill cmt-icon_element-background-color-white cmt-icon_element-size-md cmt-icon_element-style-round ttm_prettyphoto mb-0" 
                                href="https://youtu.be/r-5BM-9-J90">
                                    <i class="fa fa-play cmt-textcolor-darkgrey"></i>
                                </a>
                            </div>
                            <!-- section title -->
                            <div class="section-title row-title mt-40 clearfix">
                                <div class="title-header">
                                    <h2 class="title">{{'Ask' | transloco}} <br> <span class="cmt-textcolor-skincolor">{{'Projects' | transloco}}</span> {{'Architecture' | transloco}} </h2>
                                </div>
                                <div class="title-desc">
                                  
                                </div>
                            </div><!-- section title end -->
                            <div class="text-center res-767-mt-30">
                                <!-- <a class="cmt-btn cmt-btn-size-md cmt-btn-style-border cmt-btn-color-white mt-35 res-991-mt-15" href="#">For Appoinment Today</a> -->
                            </div>
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!--row-title-section END-->
  
    <!--broken-section-->
    <section class="cmt-row quality-section position-relative cmt-bgcolor-white clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="mb_70 mr_40 res-991-m-0">
                        <!-- cmt_single_image-wrapper -->
                        <div class="cmt_single_image-wrapper with-border white-border border-top-none position-relative z-1">
                            <img class="img-fluid mt_12 skin-border with-top-border" src="./assets/images/about2.webp" alt="img">
                        </div><!-- cmt_single_image-wrapper end -->
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="pt-65 pl-50 res-991-p-0 res-991-mt-20">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                                <h5>{{'Aboutc' | transloco}}</h5>
                                <h2 class="title">{{'Improve' | transloco}}</h2>
                            </div>
                        </div><!-- section title end -->
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style3 left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-bgcolor-skincolor cmt-icon_element-size-xs cmt-icon_element-style-round">
                                    <i class="ti ti-info cmt-num"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>{{'Remodeling-Project' | transloco}}</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>{{'Textrph' | transloco}}.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end -->
                        <div class="separator">
                            <div class="sep-line mb-25"></div>
                        </div>
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style3 left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-bgcolor-skincolor cmt-icon_element-size-xs cmt-icon_element-style-round">
                                    <i class="ti ti-info cmt-num"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>{{'Cpmunicipal' | transloco}}</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>{{'Cpmunicipaltext' | transloco}}.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end -->
                        <div class="separator">
                            <div class="sep-line mb-25"></div>
                        </div>
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style3 left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-bgcolor-skincolor cmt-icon_element-size-xs cmt-icon_element-style-round">
                                    <i class="ti ti-info cmt-num"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>{{'Proposalp' | transloco}}</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>{{'Proposaptext' | transloco}}.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end -->
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--broken-section end-->
    <!--testimonial-section-->
  
    <!--testimonial-section-->
    <!--portfolio-text-section-->
    <section class="cmt-row portfolio-text-section cmt-bgcolor-darkgrey clearfix">
        <div class="container">
            <div class="row"><!-- row -->
                <div class="col-sm-12">
                    <!-- section title -->
                    <div class="section-title style2 clearfix">
                        <div class="title-header">
                            <h5>{{'Wemeke' | transloco}}</h5>
                            <h2 class="title">{{'Explorerp' | transloco}}</h2>
                        </div>
                        <div class="title-desc">{{'ExplorerpText' | transloco}}.</div>
                    </div><!-- section title end -->
                </div>
            </div><!-- row end-->
        </div>
    </section>
    <!--portfolio-text-section-->
    <!--portfolio-section-->


    


    <section class="cmt-row portfolio-section cmt-bgcolor-grey clearfix">
<div class="flex-container">


    <div class="featured-imagebox featured-imagebox-portfolio style1">
        <!-- featured-thumbnail -->
        <div class="featured-thumbnail">
            <img class="img-fluid" src="./assets/images/projec.webp" alt="image">
        </div><!-- featured-thumbnail end-->
        <!-- cmt-box-view-overlay -->
        <div class="cmt-box-view-overlay">
            <div class="portfolio-icon-box">
                <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
            </div>
        </div><!-- cmt-box-view-overlay end-->
        <div class="featured-content">
            <div class="category">
                <p>Titulo de Projecto</p>
            </div>
            <div class="featured-title">
                <h5><a href="portfolio-single.html">Project description</a></h5>
            </div>
        </div>
    </div>


    
    <div class="featured-imagebox featured-imagebox-portfolio style1">
        <!-- featured-thumbnail -->
        <div class="featured-thumbnail">
            <img class="img-fluid" src="./assets/images/projec1.webp" alt="image">
        </div><!-- featured-thumbnail end-->
        <!-- cmt-box-view-overlay -->
        <div class="cmt-box-view-overlay">
            <div class="portfolio-icon-box">
                <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
            </div>
        </div><!-- cmt-box-view-overlay end-->
        <div class="featured-content">
            <div class="category">
                <p>Titulo de Projecto</p>
            </div>
            <div class="featured-title">
                <h5><a href="portfolio-single.html">Project description</a></h5>
            </div>
        </div>
    </div>
    
    <div class="featured-imagebox featured-imagebox-portfolio style1">
        <!-- featured-thumbnail -->
        <div class="featured-thumbnail">
            <img class="img-fluid" src="./assets/images/projec2.webp" alt="image">
        </div><!-- featured-thumbnail end-->
        <!-- cmt-box-view-overlay -->
        <div class="cmt-box-view-overlay">
            <div class="portfolio-icon-box">
                <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
            </div>
        </div><!-- cmt-box-view-overlay end-->
        <div class="featured-content">
            <div class="category">
                <p>Project Title</p>
            </div>
            <div class="featured-title">
                <h5><a href="portfolio-single.html">Project description</a></h5>
            </div>
        </div>
    </div>
    
    <div class="featured-imagebox featured-imagebox-portfolio style1">
        <!-- featured-thumbnail -->
        <div class="featured-thumbnail">
            <img class="img-fluid" src="./assets/images/projec3.webp" alt="image">
        </div><!-- featured-thumbnail end-->
        <!-- cmt-box-view-overlay -->
        <div class="cmt-box-view-overlay">
            <div class="portfolio-icon-box">
                <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
            </div>
        </div><!-- cmt-box-view-overlay end-->
        <div class="featured-content">
            <div class="category">
                <p>Project Title</p>
            </div>
            <div class="featured-title">
                <h5><a href="portfolio-single.html">Install insulation</a></h5>
            </div>
        </div>
    </div>


</div>
    </section>

<hr>
    
    <!--portfolio-section-->
    <!--post-section-->
  
    <!--post-section end-->

</div><!--site-main end-->
