<div class="card" style= "width:25rem">

<div class="card-body">
<form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
    <div class="text-center">
        <img [src]="imgSrc"  width="350px" height="250px" (click)="fileUploader.click() ">
    </div>
   
<div class="form-group">
<label for="">Seleccionar Imagen</label>
<input type="file" accept="image/png, image/JPG, image/webp" class="form-control" #fileUploader formControlName="imageUrl" (change)="showPreview($event)">
<div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">La imagen es requerida</div> 
</div>
<div class="form-group">
    
    <input type="text" class="form-control" formControlName="caption" placeholder="caption ">
    <div class="text-danger" *ngIf="isSubmitted && formControls.caption.errors?.required">Se requiere</div>
    </div>

    <div class="form-group">
        
        <select type="text" class="form-control" formControlName="category" > 

            <option value="Remodeling" selected>Remodeling</option> 
            <option value="Cocinas">Cocinas</option>
            <option value="Pisos">Pisos</option>
        </select>
        
        </div>
        <div class="form-row">
<div class="form-group col-md-6">
<a routerLink="projects" class= "btn btn-primary btn-block float-right"> Ir a Galeria</a>
</div>
        
<div class="form-group col-md-6">
<button type="submit" class="btn btn-success btn-block float-right"> ENVIAR </button>

</div>
</div>


</form>

</div>

</div>
