     <!-- page-title -->
     <div class="cmt-page-title-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <div class="title-box">
                        <div class="page-title-heading">
                            <h1 class="title">Contact Us</h1>
                        </div><!-- /.page-title-captions -->
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="index.html"><i class="ti ti-home"></i> Home</a>
                            </span>
                            <span class="cmt-bread-sep"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                            <span><span>Contact Us</span></span>
                        </div>
                    </div>
                </div><!-- /.col-md-12 -->  
            </div><!-- /.row -->  
        </div><!-- /.container -->
    </div><!-- page-title end-->


<!--site-main start-->
<div class="site-main">
    
    <!--contact-box-section-->
    <section class="cmt-row contact-box-section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-box text-center">
                        <h5>Visit Our Place</h5>
                        <span>14 Branches Over The World</span>
                        <div class="contact-detail-box">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                    <i class="fa fa-life-ring"></i>
                                </div>
                            </div>
                            <span>Phone: +324 123 45 978</span>
                            <span>Email: <a href="mailto%3dsupport%40habikon.html">support@habikon.com</a></span>
                            <h6><a href="#">Locate us on map</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-box text-center">
                        <h5>Quick Contact</h5>
                        <span>Get Quick Touch With Us</span>
                        <div class="contact-detail-box">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                    <i class="flaticon flaticon-phone-call"></i>
                                </div>
                            </div>
                            <span>Flat A, 20/7, Reynolds Neck Str Helenaville, FV77 8WS</span>
                            <h6><a href="#">Get call back</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-box text-center">
                        <h5>Visit Bitween</h5>
                        <span>Business Hours For Only Office</span>
                        <div class="contact-detail-box">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md"> 
                                    <i class="flaticon flaticon-clock"></i>
                                </div>
                            </div>
                            <span>Mon - Satday: 9.00am to 6.00pm Sunday: Holiday</span>
                            <h6><a href="#">Make an appointment</a></h6>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--contact-box-section end-->
    <!--map-section end-->
    <div class="cmt-row map-section cmt-bgcolor-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="map-wrapper">
                        <div id="map_canvas"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="spacing-12 box-shadow cmt-bgcolor-white">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                                <h4 class="title">Call us or fill the Form</h4>
                            </div>
                        </div><!-- section title end -->
                        <form id="cmt-quote-form" class="cmt-quote-form clearfix" method="post" action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="name" type="text" class="form-control" value="" placeholder="Full Name" required="required">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="address" type="text" value="" placeholder="Email Address" required="required" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input name="phone" type="text" value="" placeholder="Phone Number" required="required" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" rows="3" placeholder="Message" class="form-control" required="required"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group text-left">
                                        <button type="submit" id="submit" class="cmt-btn cmt-btn-size-md cmt-btn-bgcolor-skincolor w-100" value="">
                                            Submit quote
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--map-section-->

</div><!--site-main end-->

