<!-- page-title -->
<div class="cmt-page-title-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-box">
                    <div class="page-title-heading">
                        <h1 class="title">{{'Contact' | transloco}}</h1>
                    </div><!-- /.page-title-captions -->
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="index.html"><i class="ti ti-home"></i> Home</a>
                        </span>
                        <span class="cmt-bread-sep"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        <span><span>{{'Contact' | transloco}}</span></span>
                    </div>
                </div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- page-title end-->


<!--site-main start-->
<div class="site-main">

    <!--contact-box-section-->
    <section class="cmt-row contact-box-section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-box text-center">
                        <h5>{{'Visit' | transloco}}</h5>
                        <span>14 Branches Over The World</span>
                        <div class="contact-detail-box">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                                    <i class="fa fa-life-ring"></i>
                                </div>
                            </div>
                            <span>{{'Phone' | transloco}}: +1 610-390-6878</span>
                                    <span>{{'Email'| transloco}}: <a href="#">support@venezuelacosntrucctionllc</a></span>
                                    <h6><a href="#">Locate us on map</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-box text-center">
                        <h5>{{'NumberEn' | transloco}}</h5>
                        <span>{{'GetQuit' | transloco}}</span>
                        <div class="contact-detail-box">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                                    <i class="flaticon flaticon-phone-call"></i>
                                </div>
                            </div>
                            <span></span>
                            <h6><a href="#">+1 484-334-3698</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-box text-center">
                        <h5>{{'NumberEs' | transloco}}</h5>
                        <span>{{'Comodidad' | transloco}}</span>
                        <div class="contact-detail-box">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                                    <i class="flaticon flaticon-clock"></i>
                                </div>
                            </div>
                            <span></span>
                            <h6><a href="#">+1 610-390-6868</a></h6>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--contact-box-section end-->
    <!--map-section end-->
    <!--contact-text-section-->
    <section class="cmt-row contact-text-section cmt-bgcolor-darkgrey cmt-bg cmt-bgimage-yes bg-img8 clearfix">
        <div class="cmt-row-wrapper-bg-layer cmt-bg-layer"></div>
        <div class="container">
            <div class="row">
                <!-- row -->
                <div class="col-1 col-md-2 col-lg-3"></div>
                <div class="col-10 col-md-8 col-lg-6">
                    <!-- section title -->
                    <div class="section-title with-desc text-center clearfix">
                        <div class="title-header">
                            <h5>CONTACT DETAILS</h5>
                            <h2 class="title">{{'HowCan' |transloco}}</h2>
                        </div>
                    </div><!-- section title end -->
                </div>
                <div class="col-1 col-md-2 col-lg-3"></div>
            </div><!-- row end -->
            <!-- row -->
            <div class="row">
            </div>
        </div>
    </section>
    <!--contact-text-section end-->
    <!--contact-section-->
    <section class="cmt-row contact-section clearfix">
        <div class="container">
            <div class="row no-gutters mt_200 res-991-mt_30">
                <!-- row -->
                <div class="col-md-8">
                    <div class="spacing-5 cmt-bgcolor-white cmt-bg col-bg-img-two cmt-col-bgimage-yes box-shadow">
                        <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                            <div class="cmt-bg-layer-inner"></div>
                        </div>
                        <div class="layer-content">
                            <!-- section title -->
                            <div class="section-title clearfix">
                                <div class="title-header">
                                    <h5>{{'Free' | transloco}}</h5>
                                    <h2 class="title">{{'GetAFree' | transloco}}</h2>
                                </div>
                            </div><!-- section title end -->
                            <form id="cmt-quote-form" class="row cmt-quote-form clearfix" method="post" action="#">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input name="name" type="text" class="form-control" value=""
                                            placeholder="{{'FullName' | transloco}}" required="required">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input name="address" type="text" value="" 
                                        placeholder="{{'EmailA'| transloco}}"
                                            required="required" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input name="phone" type="text" value="" 
                                        placeholder="{{'PhoneNumber' | transloco}}"
                                            required="required" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input name="code" type="text" value=""
                                         placeholder="{{'ZipCode' | transloco}}"
                                            required="required" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="">{{'Services' |transloco}}</option>
                                            <option value="">{{'Reconstruction'| transloco}}</option>
                                            <option value="">General</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" rows="5" placeholder="Message" class="form-control"
                                            required="required"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <button type="submit" id="submit"
                                            class="cmt-btn cmt-btn-size-md cmt-btn-bgcolor-skincolor w-100" value="">
                                            {{'GetAFree' | transloco}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cmt-bg col-bg-img-eight cmt-col-bgimage-yes md-mr-15 lg-mr-15">
                        <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                        </div>
                        <div class="layer-content">
                            <div class="spacing-6">
                                <!-- row -->
                                <div class="row no-gutters">
                                    <div class="col-md-10 col-lg-8 ml_100 res-991-ml-0">
                                        <!--featured-icon-box-->
                                        <div
                                            class="featured-icon-box text-center center-icon cmt-bgcolor-skincolor box-shadow">
                                            <div class="featured-icon">
                                                <!--featured-icon-->
                                                <div
                                                    class="cmt-icon cmt-icon_element-color-white cmt-icon_element-size-md">
                                                    <i class="flaticon flaticon-placeholder"></i>
                                                </div>
                                            </div>
                                            <div class="featured-content">
                                                <!--featured-content-->
                                                <div class="featured-title">
                                                    <h5><a href="#">Visit Our Branches</a></h5>
                                                </div>
                                                <div class="featured-desc">
                                                    <!--featured-desc-->
                                                    <p>T20 Mast RD Oley, Pennsylvania, USA</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--featured-icon-box-->
                                    </div>
                                </div><!-- row end -->
                                <!-- row -->
                                <div class="row no-gutters">
                                    <div class="col-md-10 col-lg-8">
                                        <!--featured-icon-box-->
                                        <div
                                            class="featured-icon-box text-center center-icon cmt-bgcolor-grey box-shadow">
                                            <div class="featured-icon">
                                                <!--featured-icon-->
                                                <div
                                                    class="cmt-icon cmt-icon_element-color-darkgrey cmt-icon_element-size-md">
                                                    <i class="flaticon flaticon-placeholder"></i>
                                                </div>
                                            </div>
                                            <div class="featured-content">
                                                <!--featured-content-->
                                                <div class="featured-title">
                                                    <h5><a href="#">Visit Our Branches</a></h5>
                                                </div>
                                                <div class="featured-desc">
                                                    <!--featured-desc-->
                                                    <p>20 Mast RD Oley, Pennsylvania USA</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--featured-icon-box-->
                                    </div>
                                </div><!-- row end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>

</div>
<!--site-main end-->