<footer class="footer widget-footer clearfix">
    <div class="first-footer cmt-bgcolor-darkgrey">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="footer-logo" >
                        <img id="" class="img-center" src="./assets/images/footer-logo2.webp" alt="">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="cmt-footer-cta-wrapper cmt-bgcolor-skincolor box-shadow2">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 widget-area">
                                <div class="featured-icon-box iconalign-before-heading cmt-icon_element-size-lg">
                                    <div class="featured-content">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-color-white cmt-icon_element-size-lg">
                                                <i class="flaticon flaticon-email"></i>
                                            </div>
                                        </div>
                                        <div class="featured-title">
                                            <h5>Venezuela Construction</h5>
                                            <p>Stay in touch with us to get latest news and discount coupons</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 widget-area">
                                <form id="subscribe-form" class="newsletter-form" method="post" action="#" data-mailchimp="true">
                                    <div class="mailchimp-inputbox clearfix" id="subscribe-content"> 
                                        <p><input type="email" name="email" placeholder="Email Address.." required="">
                                            
                                        </p>
                                        <p><button class="btn" type="submit" value=""><i class="fa fa-envelope"></i></button></p>
                                    </div>
                                    <div id="subscribe-msg"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second-footer cmt-textcolor-white">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_contact clearfix">
                        <h3 class="widget-title">{{'Getintouch' | transloco}}</h3>
                        <ul class="">
                            <li><i class="fa fa-map-marker"></i>20 Mast RD<br>Oley, Pennsylvania USA</li>
                            <li><i class="fa fa-envelope-o"></i>{{'Email' | transloco}}: <a href="#">info@venezuelaconstructionllc.com</a></li>
                            <li><i class="fa fa-phone"></i>{{'Phone'  | transloco}}: +1 610-390-6878<br>Support : +12 (3) 456 0000</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_nav_menu clearfix">
                       <h3 class="widget-title">{{'Useful' | transloco}}</h3>
                        <ul id="menu-footer-services">
                            <li><a [routerLink]="['/']">{{'Home' | transloco}}</a></li>
                            <li><a  [routerLink]="['services/Carpentry']">{{'Services' | transloco}}</a></li>
                            <li><a  [routerLink]="['projects']">{{'Projects' | transloco}}</a></li>
                            
                            <li><a  [routerLink]="['about']">{{'About' | transloco}}</a></li>
                            <li><a  [routerLink]="['contact']">{{'Contact' | transloco}}</a></li>
                            <li><a href="#">FAQ</a></li>
                           
                            
                            <li><a href="#">Locations</a></li>
                            <li><a href="#">jobs</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_post clearfix">
                       <h3 class="widget-title">{{'Oursn' | transloco}}</h3>
                       <div class="cmt-social-links-wrapper list-inline">
                        <ul class="social-icons square">
                            <li><a href="#"><i class="ti ti-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="ti ti-instagram"></i></a>
                            </li>
                            
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_text clearfix">
                       <h3 class="widget-title">{{'Contact'| transloco}} </h3>
                       <div class="">
                            <h3 class="widget_text_title cmt-textcolor-skincolor">+1 610-390-6878</h3>
                            <p>{{'Contactext' | transloco}}.</p>
                            <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-border cmt-btn-color-skincolor mt-15 mb-20" href="#">Request With Online Form</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer-text cmt-bgcolor-darkgrey cmt-textcolor-white">
        <div class="container">
            <div class="row copyright">
                <div class="col-md-8 cmt-footer2-left">
                    <span>Copyright © 2020&nbsp;<a href="#">Venezuela Construction</a>. All rights reserved.</span>
                </div>
                <div class="col-md-4 cmt-footer2-right">
                   <div class="social-icons">
                        <ul class="list-inline">
                            <li><a href="#"><i class="ti ti-facebook"  aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="ti ti-instagram" aria-hidden="true"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>