  <!-- cmt-service-single-content-are -->
  <div class="cmt-service-single-content-area">
    <div class="post-featured-wrapper mb-40">
        <div class="post-featured">
            <img class="img-fluid" src="images/blog/blog-08.jpg" alt="">
        </div>
    </div>
    <div class="cmt-service-description">
        <h4 class="mb-10">Basement Remoeling</h4>
        <div class="mb-30">
            <p>Does your home have a basement that is underused or not used at all? If so, you may be missing out on adding square footage of comfort to your home which can be accomplished with basement recycling..</p>
        </div>
        <h4 class="mb-15">Our Process</h4>
        <div class="accordion mb-35"><!-- accordion -->
            <!-- toggle -->
            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor">
                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is Home Planning Services Siding Safe?</a></div>
                <div class="toggle-content">
                    <p></p>
                </div>
            </div><!-- toggle end -->
            <!-- toggle -->
            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor active">
                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How to clean Home.</a></div>
                <div class="toggle-content">
                    <p></p>
                </div>
            </div><!-- toggle end -->
            <!-- toggle -->
            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor">
                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How much does it Cost to Home Planning.</a></div>
                <div class="toggle-content">
                    <p></p>
                </div>
            </div><!-- toggle end -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-30">
                    <h4 class="mb-10">Our Process</h4>
                    <!-- cmt-progress-bar -->
                    <div class="cmt-progress-bar" data-percent="92%">
                        <div class="progressbar-title">Industrial</div>
                        <div class="progress-bar-inner">
                            <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                        </div>
                        <div class="progress-bar-percent" data-percentage="92"></div>
                    </div><!-- cmt-progress-bar end -->
                    <!-- cmt-progress-bar -->
                    <div class="cmt-progress-bar clearfix" data-percent="80%">
                        <div class="progressbar-title">Construction</div>
                        <div class="progress-bar-inner">
                            <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                        </div>
                        <div class="progress-bar-percent" data-percentage="80"></div>
                    </div><!-- cmt-progress-bar end -->
                    <!-- cmt-progress-bar -->
                    <div class="cmt-progress-bar clearfix" data-percent="92%">
                        <div class="progressbar-title">Remodeling</div>
                        <div class="progress-bar-inner">
                            <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                        </div>
                        <div class="progress-bar-percent" data-percentage="92"></div>
                    </div><!-- cmt-progress-bar end -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="post-featured-wrapper mb-30">
                    <div class="post-featured">
                        <img class="img-fluid" src="images/blog/blog-02.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <h4 class="mb-10">What You Receive?</h4>
        <div class="mb-30">
            <p>.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon"><!--featured-icon-->
                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-customer-support"></i>
                        </div>
                    </div>
                    <div class="featured-content"><!--featured-content-->
                        <div class="featured-title">
                            <h5>Certified Contractor</h5>
                        </div>
                        <div class="featured-desc"><!--featured-desc-->
                            <p></p>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon"><!--featured-icon-->
                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-idea"></i>
                        </div>
                    </div>
                    <div class="featured-content"><!--featured-content-->
                        <div class="featured-title">
                            <h5>Dedicated Team Members</h5>
                        </div>
                        <div class="featured-desc"><!--featured-desc-->
                            <p></p>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon"><!--featured-icon-->
                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-builder"></i>
                        </div>
                    </div>
                    <div class="featured-content"><!--featured-content-->
                        <div class="featured-title">
                            <h5>Qualities of Good Brick</h5>
                        </div>
                        <div class="featured-desc"><!--featured-desc-->
                            <p></p>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon"><!--featured-icon-->
                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-shovel"></i>
                        </div>
                    </div>
                    <div class="featured-content"><!--featured-content-->
                        <div class="featured-title">
                            <h5>Qualities of Cement</h5>
                        </div>
                        <div class="featured-desc"><!--featured-desc-->
                            <p></p>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon"><!--featured-icon-->
                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-pick-mattock"></i>
                        </div>
                    </div>
                    <div class="featured-content"><!--featured-content-->
                        <div class="featured-title">
                            <h5>Specific gravity of soil</h5>
                        </div>
                        <div class="featured-desc"><!--featured-desc-->
                            <p></p>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon"><!--featured-icon-->
                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-gear-1"></i>
                        </div>
                    </div>
                    <div class="featured-content"><!--featured-content-->
                        <div class="featured-title">
                            <h5>Soil Testing</h5>
                        </div>
                        <div class="featured-desc"><!--featured-desc-->
                            <p></p>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div>
        </div>
    </div>
</div><!-- cmt-service-single-content-are end -->
