  <!-- cmt-service-single-content-are -->
  <div class="cmt-service-single-content-area">
    <div class="post-featured-wrapper mb-40">
        <div class="post-featured">
            <img class="img-fluid" src="images/blog/blog-08.jpg" alt="">
        </div>
    </div>
    <div class="cmt-service-description">
        <h4 class="mb-10">{{'Basement-Remodeling' | transloco}}</h4>
        <div class="mb-30">
            <p>{{'TextBasement' | transloco}}.</p>
        </div>
        <h4 class="mb-15">{{'OurProcess'| transloco}}</h4>
        <div class="accordion mb-35"><!-- accordion -->
            <!-- toggle -->
            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor">
                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is Home Planning Services Siding Safe?</a></div>
                <div class="toggle-content">
                    <p></p>
                </div>
            </div><!-- toggle end -->
            <!-- toggle -->
            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor active">
                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How to clean Home.</a></div>
                <div class="toggle-content">
                    <p></p>
                </div>
            </div><!-- toggle end -->
            <!-- toggle -->
            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor">
                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How much does it Cost to Home Planning.</a></div>
                <div class="toggle-content">
                    <p></p>
                </div>
            </div><!-- toggle end -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Hermosos Trabajos </h2>
            </div>
            <div class="col-md-6">
                <div class="post-featured-wrapper mb-30">
                    <div class="post-featured">
                        <img class="img-fluid" src="./assets/imagenP/cocinad.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
        <h4 class="mb-10">{{'WhatYouReceive' | transloco}}?</h4>
        <div class="mb-30">
            <p>.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon"><!--featured-icon-->
                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-customer-support"></i>
                        </div>
                    </div>
                    <div class="featured-content"><!--featured-content-->
                        <div class="featured-title">
                            <h5>{{'RecA' | transloco}}</h5>
                        </div>
                        <div class="featured-desc"><!--featured-desc-->
                            <p></p>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon"><!--featured-icon-->
                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-idea"></i>
                        </div>
                    </div>
                    <div class="featured-content"><!--featured-content-->
                        <div class="featured-title">
                            <h5>{{'RecB' | transloco}}</h5>
                        </div>
                        <div class="featured-desc"><!--featured-desc-->
                            <p></p>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon"><!--featured-icon-->
                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-builder"></i>
                        </div>
                    </div>
                    <div class="featured-content"><!--featured-content-->
                        <div class="featured-title">
                            <h5>{{'RecC' | transloco}}</h5>
                        </div>
                        <div class="featured-desc"><!--featured-desc-->
                            <p></p>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon"><!--featured-icon-->
                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-shovel"></i>
                        </div>
                    </div>
                    <div class="featured-content"><!--featured-content-->
                        <div class="featured-title">
                            <h5>{{'RecD' | transloco}}</h5>
                        </div>
                        <div class="featured-desc"><!--featured-desc-->
                            <p></p>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon"><!--featured-icon-->
                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-pick-mattock"></i>
                        </div>
                    </div>
                    <div class="featured-content"><!--featured-content-->
                        <div class="featured-title">
                            <h5>{{'RecE' | transloco}}</h5>
                        </div>
                        <div class="featured-desc"><!--featured-desc-->
                            <p></p>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!--featured-icon-box-->
                <div class="featured-icon-box left-icon style9">
                    <div class="featured-icon"><!--featured-icon-->
                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                            <i class="flaticon flaticon-gear-1"></i>
                        </div>
                    </div>
                    <div class="featured-content"><!--featured-content-->
                        <div class="featured-title">
                            <h5>{{'RecF' | transloco}}</h5>
                        </div>
                        <div class="featured-desc"><!--featured-desc-->
                            <p></p>
                        </div>
                    </div><!--featured-icon-box-->
                </div>
            </div>
        </div>
    </div>
</div><!-- cmt-service-single-content-are end -->
