
        <!-- page-title -->
        <div class="cmt-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box">
                            <div class="page-title-heading">
                                <h1 class="title">About Us</h1>
                            </div><!-- /.page-title-captions -->
                            
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- page-title end-->

               <!--about-section-->
               <section class="cmt-row about-section bg-img1 clearfix">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-12">
                            <!-- cmt_single_image-wrapper -->
                            <div class="cmt_single_image-wrapper">
                                <img class="img-fluid" src="assets/images/contra.jpg" alt="">
                            </div><!-- cmt_single_image-wrapper end -->
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="res-991-mt-30">
                                <!-- section title -->
                                <div class="section-title clearfix">
                                    <div class="title-header">
                                        <h5>ABOUT US</h5>
                                        <h2 class="title">Experience A Better Way To Build.</h2>
                                    </div>
                                </div><!-- section title end -->
                                <p>We have the latest generation equipment. to perform quality work. Personalized attention, highly qualified staff.</p>
                                <h5 class="font-sz-22">Meet With Our Mission</h5>
                                <p class="mb-30">Our mission make us your first option when looking for a responsible company that guarantees quality work with professionalism and a timely response to your needs..</p>
                                <h5 class="font-sz-22">What Is Our Vision?</h5>
                                <p>We have the vision to grow, expand and reach many corners of our country. carrying out and guaranteeing the satisfaction of all our clients.</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-bgcolor-skincolor mt-20" href="#">More About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- row end -->
                </div>
            </section>
            <!--about-section end-->

        
            <!--contact-section end-->