
        <!-- page-title -->
        <div class="cmt-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box">
                            <div class="page-title-heading">
                                <h1 class="title">About Us</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i> Home</a>
                                </span>
                                <span class="cmt-bread-sep"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                <span><span>About Us 1</span></span>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- page-title end-->

               <!--about-section-->
               <section class="cmt-row about-section bg-img1 clearfix">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-12">
                            <!-- cmt_single_image-wrapper -->
                            <div class="cmt_single_image-wrapper">
                                <img class="img-fluid" src="images/single-img-five.png" alt="">
                            </div><!-- cmt_single_image-wrapper end -->
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="res-991-mt-30">
                                <!-- section title -->
                                <div class="section-title clearfix">
                                    <div class="title-header">
                                        <h5>ABOUT US</h5>
                                        <h2 class="title">Experience A Better Way To Build.</h2>
                                    </div>
                                </div><!-- section title end -->
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing .</p>
                                <h5 class="font-sz-22">Meet With Our Mission</h5>
                                <p class="mb-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                                <h5 class="font-sz-22">What Is Our Vision?</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.Lorem Ipsum is simply dummy.</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-bgcolor-skincolor mt-20" href="#">More About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- row end -->
                </div>
            </section>
            <!--about-section end-->

            <!--contact-text-section-->
            <section class="cmt-row contact-text-section cmt-bgcolor-darkgrey cmt-bg cmt-bgimage-yes bg-img8 clearfix">
                <div class="cmt-row-wrapper-bg-layer cmt-bg-layer"></div>
                <div class="container">
                    <div class="row"><!-- row -->
                        <div class="col-1 col-md-2 col-lg-3"></div>
                        <div class="col-10 col-md-8 col-lg-6">
                            <!-- section title -->
                            <div class="section-title with-desc text-center clearfix">
                                <div class="title-header">
                                    <h5>CONTACT DETAILS</h5>
                                    <h2 class="title">How can we help you?</h2>
                                </div>
                            </div><!-- section title end -->
                        </div>
                        <div class="col-1 col-md-2 col-lg-3"></div>
                    </div><!-- row end -->
                    <!-- row -->
                    <div class="row">
                    </div>
                </div>
            </section>
            <!--contact-text-section end-->
            <!--contact-section-->
            <section class="cmt-row contact-section clearfix">
                <div class="container">
                    <div class="row no-gutters mt_200 res-991-mt_30"><!-- row -->
                        <div class="col-md-8">
                            <div class="spacing-5 cmt-bgcolor-white cmt-bg col-bg-img-two cmt-col-bgimage-yes box-shadow">
                                <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                    <div class="cmt-bg-layer-inner"></div>
                                </div>
                                <div class="layer-content">
                                    <!-- section title -->
                                    <div class="section-title clearfix">
                                        <div class="title-header">
                                            <h5>FREE CONSULTATION</h5>
                                            <h2 class="title">Get a free quote</h2>
                                        </div>
                                    </div><!-- section title end -->
                                    <form id="cmt-quote-form" class="row cmt-quote-form clearfix" method="post" action="#">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input name="name" type="text" class="form-control" value="" placeholder="Full Name" required="required">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input name="address" type="text" value="" placeholder="Email Address" required="required" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input name="phone" type="text" value="" placeholder="Phone Number" required="required" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input name="code" type="text" value="" placeholder="Zip Code" required="required" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="">Services</option>
                                                    <option value="">Reconstruction</option>
                                                    <option value="">General</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="message" rows="5" placeholder="Message" class="form-control" required="required"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group text-center">
                                                <button type="submit" id="submit" class="cmt-btn cmt-btn-size-md cmt-btn-bgcolor-skincolor w-100" value="">
                                                    GET A FREE QUOTE
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="cmt-bg col-bg-img-eight cmt-col-bgimage-yes md-mr-15 lg-mr-15">
                                <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                </div>
                                <div class="layer-content">
                                    <div class="spacing-6">
                                        <!-- row -->
                                        <div class="row no-gutters">
                                            <div class="col-md-10 col-lg-8 ml_100 res-991-ml-0">
                                                <!--featured-icon-box-->
                                                <div class="featured-icon-box text-center center-icon cmt-bgcolor-skincolor box-shadow">
                                                    <div class="featured-icon"><!--featured-icon-->
                                                        <div class="cmt-icon cmt-icon_element-color-white cmt-icon_element-size-md">
                                                            <i class="flaticon flaticon-placeholder"></i>
                                                        </div>
                                                    </div>
                                                    <div class="featured-content"><!--featured-content-->
                                                        <div class="featured-title">
                                                            <h5><a href="#">Visit Our Branches</a></h5>
                                                        </div>
                                                        <div class="featured-desc"><!--featured-desc-->
                                                            <p>Themeforest, Envanto HQ 24 Fifth st., Los Angeles, USA</p>
                                                        </div>
                                                    </div>
                                                </div><!--featured-icon-box-->
                                            </div>
                                        </div><!-- row end -->
                                        <!-- row -->
                                        <div class="row no-gutters">
                                            <div class="col-md-10 col-lg-8">
                                                <!--featured-icon-box-->
                                                <div class="featured-icon-box text-center center-icon cmt-bgcolor-grey box-shadow">
                                                    <div class="featured-icon"><!--featured-icon-->
                                                        <div class="cmt-icon cmt-icon_element-color-darkgrey cmt-icon_element-size-md">
                                                            <i class="flaticon flaticon-placeholder"></i>
                                                        </div>
                                                    </div>
                                                    <div class="featured-content"><!--featured-content-->
                                                        <div class="featured-title">
                                                            <h5><a href="#">Visit Our Branches</a></h5>
                                                        </div>
                                                        <div class="featured-desc"><!--featured-desc-->
                                                            <p>Themeforest, Envanto HQ 24 Fifth st., Los Angeles, USA</p>
                                                        </div>
                                                    </div>
                                                </div><!--featured-icon-box-->
                                            </div>
                                        </div><!-- row end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- row end -->
                </div>
            </section>
            <!--contact-section end-->