
 <!-- page-title -->
 <div class="cmt-page-title-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
                <div class="title-box">
                    <div class="page-title-heading">
                        <h1 class="title">{{'Projects' | transloco}}</h1>
                    </div><!-- /.page-title-captions -->
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="index.html"><i class="ti ti-home"></i> Home</a>
                        </span>
                        <span class="cmt-bread-sep"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        <span><span>{{'Projects' | transloco}}</span></span>
                    </div>
                </div>
            </div><!-- /.col-md-12 -->  
        </div><!-- /.row -->  
    </div><!-- /.container -->
</div><!-- page-title end-->

<hr>
<div class="col-md-12"> 
    <div class="title-box">
        <div class="page-title-heading">
            <h2 class="title">{{'Explorerp' | transloco}}.</h2>
        </div><!-- /.page-title-captions -->
   
    </div>
</div>

<section class="cmt-row portfolio-top-section clearfix">
   
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- featured-imagebox -->
                <div class="featured-imagebox featured-imagebox-portfolio style1 mb-30">
                    <!-- featured-thumbnail -->
                    <div class="featured-thumbnail">
                        <img class="img-fluid" src="./assets/images/projec1.webp" alt="image">
                    </div><!-- featured-thumbnail end-->
                    <!-- cmt-box-view-overlay -->
                    <div class="cmt-box-view-overlay">
                        <div class="portfolio-icon-box">
                            <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
                        </div>
                    </div><!-- cmt-box-view-overlay end-->
                    <div class="featured-content">
                        <div class="category">
                            <p>Insulation</p>
                        </div>
                        <div class="featured-title">
                            <h5><a href="portfolio-single.html">Install insulation</a></h5>
                        </div>
                    </div>
                </div><!-- featured-imagebox -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- featured-imagebox -->
                <div class="featured-imagebox featured-imagebox-portfolio style1 mb-30">
                    <!-- featured-thumbnail -->
                    <div class="featured-thumbnail">
                        <img class="img-fluid" src="./assets/images/projec2.webp" alt="image">
                    </div><!-- featured-thumbnail end-->
                    <!-- cmt-box-view-overlay -->
                    <div class="cmt-box-view-overlay">
                        <div class="portfolio-icon-box">
                            <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
                        </div>
                    </div><!-- cmt-box-view-overlay end-->
                    <div class="featured-content">
                        <div class="category">
                            <p>Textures</p>
                        </div>
                        <div class="featured-title">
                            <h5><a href="portfolio-single.html">interior textures</a></h5>
                        </div>
                    </div>
                </div><!-- featured-imagebox -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- featured-imagebox -->
                <div class="featured-imagebox featured-imagebox-portfolio style1 mb-30">
                    <!-- featured-thumbnail -->
                    <div class="featured-thumbnail">
                        <img class="img-fluid" src="./assets/images/projec3.webp" alt="image">
                    </div>
                    <!-- cmt-box-view-overlay -->
                    <div class="cmt-box-view-overlay">
                        <div class="portfolio-icon-box">
                            <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
                        </div>
                    </div><!-- cmt-box-view-overlay end-->
                    <div class="featured-content">
                        <div class="category">
                            <p>exterior</p>
                        </div>
                        <div class="featured-title">
                            <h5><a href="portfolio-single.html">install exterior</a></h5>
                        </div>
                    </div>
                </div><!-- featured-imagebox -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- featured-imagebox -->
                <div class="featured-imagebox featured-imagebox-portfolio style1 mb-30">
                    <!-- featured-thumbnail -->
                    <div class="featured-thumbnail">
                        <img class="img-fluid" src="./assets/imagenP/cocinad.webp" alt="image">
                    </div><!-- featured-thumbnail end-->
                    <!-- cmt-box-view-overlay -->
                    <div class="cmt-box-view-overlay">
                        <div class="portfolio-icon-box">
                            <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
                        </div>
                    </div><!-- cmt-box-view-overlay end-->
                    <div class="featured-content">
                        <div class="category">
                            <p>exterior</p>
                        </div>
                        <div class="featured-title">
                            <h5><a href="portfolio-single.html">mechanical trim</a></h5>
                        </div>
                    </div>
                </div><!-- featured-imagebox -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- featured-imagebox -->
                <div class="featured-imagebox featured-imagebox-portfolio style1 mb-30">
                    <!-- featured-thumbnail -->
                    <div class="featured-thumbnail">
                        <img class="img-fluid" src="./assets/imagenP/cocinab.webp" alt="image">
                    </div><!-- featured-thumbnail end-->
                    <!-- cmt-box-view-overlay -->
                    <div class="cmt-box-view-overlay">
                        <div class="portfolio-icon-box">
                            <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
                        </div>
                    </div><!-- cmt-box-view-overlay end-->
                    <div class="featured-content">
                        <div class="category">
                            <p>exterior</p>
                        </div>
                        <div class="featured-title">
                            <h5><a href="portfolio-single.html">landscaping</a></h5>
                        </div>
                    </div>
                </div><!-- featured-imagebox -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- featured-imagebox -->
                <div class="featured-imagebox featured-imagebox-portfolio style1 mb-30">
                    <!-- featured-thumbnail -->
                    <div class="featured-thumbnail">
                        <img class="img-fluid" src="./assets/imagenP/cocinac.webp" alt="image">
                    </div><!-- featured-thumbnail end -->
                    <!-- cmt-box-view-overlay -->
                    <div class="cmt-box-view-overlay">
                        <div class="portfolio-icon-box">
                            <a href="portfolio-single.html"><i class="ti ti-plus"></i></a>
                        </div>
                    </div><!-- cmt-box-view-overlay end-->
                    <div class="featured-content">
                        <div class="category">
                            <p>exterior</p>
                        </div>
                        <div class="featured-title">
                            <h5><a href="portfolio-single.html">pour foundation</a></h5>
                        </div>
                    </div>
                </div><!-- featured-imagebox -->
            </div>
        </div><!-- row end -->
    </div>
</section>