<h4 class="mb-10">{{'WhatYouReceive' | transloco}}?</h4>
<div class="mb-30">
    <p></p>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <!--featured-icon-box-->
        <div class="featured-icon-box left-icon style9">
            <div class="featured-icon">
                <!--featured-icon-->
                <div
                    class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                    <i class="flaticon flaticon-customer-support"></i>
                </div>
            </div>
            <div class="featured-content">
                <!--featured-content-->
                <div class="featured-title">
                    <h5>{{'RecA' | transloco}}</h5>
                </div>
                <div class="featured-desc">
                    <!--featured-desc-->
                    <p></p>
                </div>
            </div>
            <!--featured-icon-box-->
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <!--featured-icon-box-->
        <div class="featured-icon-box left-icon style9">
            <div class="featured-icon">
                <!--featured-icon-->
                <div
                    class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                    <i class="flaticon flaticon-idea"></i>
                </div>
            </div>
            <div class="featured-content">
                <!--featured-content-->
                <div class="featured-title">
                    <h5>{{'RecB' | transloco}}</h5>
                </div>
                <div class="featured-desc">
                    <!--featured-desc-->
                    <p></p>
                </div>
            </div>
            <!--featured-icon-box-->
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <!--featured-icon-box-->
        <div class="featured-icon-box left-icon style9">
            <div class="featured-icon">
                <!--featured-icon-->
                <div
                    class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                    <i class="flaticon flaticon-builder"></i>
                </div>
            </div>
            <div class="featured-content">
                <!--featured-content-->
                <div class="featured-title">
                    <h5>{{'RecC' | transloco}}</h5>
                </div>
                <div class="featured-desc">
                    <!--featured-desc-->
                    <p></p>
                </div>
            </div>
            <!--featured-icon-box-->
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <!--featured-icon-box-->
        <div class="featured-icon-box left-icon style9">
            <div class="featured-icon">
                <!--featured-icon-->
                <div
                    class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                    <i class="flaticon flaticon-shovel"></i>
                </div>
            </div>
            <div class="featured-content">
                <!--featured-content-->
                <div class="featured-title">
                    <h5>{{'RecD' | transloco}}</h5>
                </div>
                <div class="featured-desc">
                    <!--featured-desc-->
                    <p></p>
                </div>
            </div>
            <!--featured-icon-box-->
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <!--featured-icon-box-->
        <div class="featured-icon-box left-icon style9">
            <div class="featured-icon">
                <!--featured-icon-->
                <div
                    class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                    <i class="flaticon flaticon-pick-mattock"></i>
                </div>
            </div>
            <div class="featured-content">
                <!--featured-content-->
                <div class="featured-title">
                    <h5>{{'RecE' | transloco}}</h5>
                </div>
                <div class="featured-desc">
                    <!--featured-desc-->
                    <p></p>
                </div>
            </div>
            <!--featured-icon-box-->
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <!--featured-icon-box-->
        <div class="featured-icon-box left-icon style9">
            <div class="featured-icon">
                <!--featured-icon-->
                <div
                    class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-md">
                    <i class="flaticon flaticon-gear-1"></i>
                </div>
            </div>
            <div class="featured-content">
                <!--featured-content-->
                <div class="featured-title">
                    <h5>{{'RecF' | transloco}}</h5>
                </div>
                <div class="featured-desc">
                    <!--featured-desc-->
                    <p></p>
                </div>
            </div>
            <!--featured-icon-box-->
        </div>
    </div>
</div>