/* You can add global styles to this file, and also import other style files */
#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    .ng2-carouselamos-container{
        width: 70%;
        margin: auto;
    }
    .slide-items{
        margin-right: 10px;
        img{
            width: 210px;
        }
    }
}